.volume {
    display: flex;
    width: 350px;
    justify-content: right;
    align-items: center;
}

.volume > img {
    width: 25px;
}

.input {
    cursor: pointer;
    margin: 7px;
}

.input {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

.input::-webkit-slider-runnable-track {
    height: 10px;
    background: #272727;
    border-radius: 16px;
}

.input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 11px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #ffffff;
    box-shadow: -407px 0 0 400px #ffffff;
}